{% extends "base.html" %}
{% block content %}
<h2>Change Password for {{ user.username }}</h2>

<form method="POST" class="w-50">

  {# Только если роль именно 'user' и он сам себе меняет пароль — показываем Current Password #}
  {% if current_user.role == 'user' and current_user.id == user.id %}
    <div class="mb-3">
      <label for="current_password">Current Password</label>
      <input type="password"
       class="form-control"
       id="current_password"
       name="current_password"
       required
       autocomplete="current-password">

    </div>
  {% endif %}

  <div class="mb-3">
    <label for="password">New Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>

  <div class="mb-3">
    <label for="confirm_password">Confirm New Password</label>
    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
  </div>

  <button type="submit" class="btn btn-primary">Change Password</button>
  <a href="{{ url_for('inventory.dashboard') }}" class="btn btn-secondary">← Back</a>
</form>
{% endblock %}




